.cupTeam{
    vertical-align:top;
    white-space: nowrap;
}

.cupRoundTable{
    -webkit-box-shadow: 0px 0px 3pt 1pt rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 3pt 1pt rgba(0,0,0,0.5);
box-shadow: 0px 0px 3pt 1pt rgba(0,0,0,0.5);
border-radius: 6pt;
width:100%;
}

.cupRoundTable td{
    white-space: nowrap;
    width:100%;
}

.loser{
    background-color: rgba(255,0,0,0.1);
}
.winner{
    background-color: rgba(0,255,0,0.1);
}

.cupVs{
    vertical-align: middle;
    
}