
@import url('https://fonts.googleapis.com/css?family=Pirata One');
@import url('https://fonts.googleapis.com/css?family=Overlock');

:root {
  --bg-color: #fffaed;
  --bg-highlight-color: #fffcfa;
  --bg-notification-color: #ffff99;
  
  --txt-color: #111111;
  --pos-color: #338811;
  --neg-color: #992244;
  --bg-color-missgame: #ffccdd;
  --border-color: #b5bbd0;
  --border-selected-color: #ffffff;
  --header-bg-color: #8592b0;
  --link-color: #123564;
  --button-color: #cdd3e8;
  --panel-bgcolor:#f2f2ff;
  --table-top-header-bg-color: #a9b4cc;
  --table-header-bg-color: #cdd3e8;
  --table-header-txt-color: #222222;
  --table-highlight-color: #e0e0ff;
  --corner-radius: 2pt;
  --header-height: 40pt;
  --line-height: 13pt;

  --team1-color: #c9ba69;
  --team2-color: #6fa385;
}

body{
  background-color: var(--bg-color);
  
}

.bolder{
  font-weight: 600;
}
h2 {
  margin:0pt;
  margin-bottom: 2pt;
  padding:0pt;
  font-size:16pt;
}

h3 {
  margin:0pt;
  margin-bottom: 2pt;
  padding:0pt;
  font-size:12pt;
}


div, span, button,a, input, td{
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--line-height);
  color: var(--txt-color);
}

a,button{
  color: var(--link-color);
  cursor:pointer;
  text-decoration: none;
  border-bottom: 1pt solid rgba(0,0,0, 0.15);
}



a:hover,button:hover{ 
  -webkit-box-shadow: 0px 0px 3pt 1pt rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3pt 1pt rgba(0,0,0,0.75);
box-shadow: 0px 0px 3pt 1pt rgba(0,0,0,0.75);
}
a:visited{
  color: var(--link-color);
}

button{
  cursor:pointer;
  background:#ffffff70;
  border:1pt transparent;
  border-radius: var(--corner-radius);
  margin:2pt;
  text-overflow: none;
  white-space: nowrap;
}


div, td{
  vertical-align: top;
}

.break{
  display:block;
}


.iconLarge{
  width:56pt;
  height:56pt;
  border-radius: var(--corner-radius);
}
.iconMedium{
  width:36pt;
  height:36pt;
  border-radius: var(--corner-radius);
}
.iconSmall{
  width:20pt;
  height:20pt;
  margin-right: 1pt;
  border-radius: var(--corner-radius);
  vertical-align:  middle;
  margin-top:-2pt;
}
.iconThin{
  width:14pt;
  height:18pt;
  margin-right: 1pt;
  border-radius: var(--corner-radius);
  margin-top:-4pt; vertical-align:  middle;
}

.inputLarge{
  width:300pt;
}

.mainContent{
  margin:5pt;
  position:relative;
  top:0pt;
  bottom:0pt;
  display: block;
}

.flexcontainer{
  display:flex;
  flex-wrap: wrap; 
  width:100%; 
}

.rightie {
  text-align: right !important;
}
.leftie {
  text-align: left !important;
}
.middler{
  text-align: center !important;
}

.overviewTable{
  margin:0 auto;
}

.cellHeader { background:var(--table-header-bg-color);}

.menuPopup{
  position:absolute;
  right:10pt;
  margin:5pt;
  padding:0pt;
  border-radius: var(--corner-radius);
  border: solid 1pt var(--border-color);
  background-color: var(--bg-highlight-color);
  z-index: 20;
  white-space: wrap;
  overflow: auto;
}

.panel{
  background-color: var(--panel-bgcolor);
  border-radius: var(--corner-radius);
  width:100%; 
  margin-bottom:5pt;
  margin-right:5pt;
  
}

.padded {
  padding:5pt;
}

.bordered{
  border: solid 1pt var(--border-color);
  padding:5pt;
  margin-bottom:5pt;

}

.searchpanel input{
  width:100%; padding-right: 0pt; 
}


a.selected{
  border:1pt solid !important;
  border-color:var(--border-selected-color) !important;
  background-color: var(--border-selected-color) !important;
}


.HeaderPath .iconSmall {
  width:12pt; height:12pt;
}

.ReactDateTime .rdtPicker{
  position: fixed;
  color:var(--txt-color);
  background-color: var(--bg-color) ;
  border-color: var(--border-color);
} 
.rdtPicker{
  position: fixed;
  color:var(--txt-color) !important;
  background-color: var(--bg-color) !important;
  border-color: var(--border-color) !important;
}




button , .menu a{
padding:1pt;
border: 1pt solid;
border-color: var(--border-color);
font-size:11pt;
flex-grow: 1;
}

button:hover, .menu a:hover a .button:hover{
  border: 1pt solid var(--border-selected-color)
}

.menu input{
  font-size: 10pt;
}

button.small {
  font-size: 10pt; 
}

.menu a, .header a,  button,a.button{
  cursor:pointer;
  background:var(--button-color);
  border:1pt solid transparent;
  border-radius: var(--corner-radius);
  margin:2pt;
  text-overflow: none;
  white-space: nowrap;
  padding-top: 0pt;
  vertical-align: top;
}

.competitionArea .menu, .menuCategory .menu{
  display:flex;
  flex-wrap: wrap;
}
.competitionArea a, .menuCategory a, .competitionArea input {
  max-height: 10pt;
  flex-grow: 1;
  padding-bottom: 5pt;
}

.imageButton{
  background:transparent !important;
  flex-grow: 0;
  display:inline-block;
  vertical-align: middle;
  border-color: transparent;
  border-radius: 5pt;
} 

.toolButton{
  position:absolute;
  right:0pt;
  margin:0pt; 
  padding:0pt;
  border:1pt transparent;
  background: transparent !important;
  vertical-align: middle;
  border-radius: 50%;
}
.toolButton img{
  width:16pt;
  height:16pt;
}

.loadingblur{
  opacity: 0.4;
}

.information div{
  font-size: 11pt;
  background:none !important;
}
.information td{
  font-size: 11pt;
}
.information a {
  font-weight: 600 !important;
  font-size: 12pt;
  background: transparent;
  border:none;
  margin: 0pt;
}
.command{
  background: var(--bg-color);
  font-family: console;
  font-size:11pt;
  padding:0pt;
  padding-left:3pt;
  padding-right:3pt;
  margin-left:2pt;
  margin-right:2pt;
  border:1pt solid rgba(0,0,0, 0.15);
  border-radius: 3pt;

}


