
.menuHeader{
    font-size:10pt;
    margin-top:-5pt; margin-bottom: 0pt;
  }
  .menuHeader a, .mainLogo a, .userButton a {
    background:none;
    
  }
  
  .menuCategory{
    display:inline-block ;
    margin-top: -4pt;

  }
.header{
    background-color: var(--header-bg-color);
    padding:5pt;
    display:flex;
    padding-bottom: 3pt;
    
  }


  
  
  .emptyMenuSection{
    flex-grow: 100;
  
  }
  .menuCategory{
    text-align:left;
    white-space: nowrap;
  }
  
  .mainLogo{
    display:inline-block;
    margin:-5pt;
    margin-top:-7pt;
    margin-right:0pt;
    margin-bottom:-2pt;
    
  }
  .mainLogo img{
    width:calc(1.25*var(--header-height));
    background: radial-gradient(closest-side,#ffffff, #ffffffe0, #ffffff40, #ffffff00);
    margin-bottom: -3pt;
  }
  .mainLogo a{ display:inline-block; border-radius: 50%; margin:-3pt; padding:0pt ; }
  

.menuContainer{
    display:inline-block;
    margin-top:-4pt;
  }
  
  
  
  .userSection{
    margin-top: -13pt;
    text-align: right;
    white-space: nowrap;
    display:inline-block;
    flex-grow: 1;
  
  }

  .mainLogoStatus img{
      width:10pt;
  }
  .mainLogoStatus a{
      background: transparent !important;
      position:absolute;
      left:0pt;
      top:-4pt;

  }

  .mainLogoSpinner{
      position:absolute;
      left:-2pt;
      top:25pt;
  }
  .mainLogoSpinner img{
    width:22px;
    height:22px;;
  }

   .SubMenus{
     margin-left: 6pt;
     margin-top:0pt;
     margin-bottom: 3pt;
   }
   .SubMenus a{
    max-width: 75pt;
   }
   .competitionArea{
    flex:100%;
    margin-bottom:-5pt;
   }