.HeaderPath{
  margin-left:6pt;
}


  
  .pathItems div {
    white-space:nowrap;
    display:inline-block;
    background: none;
    font-weight: 500;
    

}

  .pathItems a{
    border-radius: var(--corner-radius);
    padding:1pt 2pt 1pt 2pt;
    
  }

  .separator{
      width:0pt;
  }